body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: rgb(230, 228, 239);
  background-image:  radial-gradient(75.97% 95.37% at 90% 10.37%, rgba(14, 1, 167, 0.75) 0%, #04002F 100%);
}

.container {
  padding: 10px 20px;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--bg-color-blocks)
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.balance {
  display: flex;
  align-items: center;
}

.balance__name {
  font-size: 26px;
}

.balance__button {
  background-color: inherit;
}

.balance__block-button__out {
}

.balance__block-money {
  font-size: 12px;
  line-height: 1.5;
  margin: 0 42px;
}

.balance__block-button__in {
}

.profile {}

.filters__nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color-blocks);
}

.search-form {
  position: relative;
}

.search-form__input {
  max-width: 159.5px;
  font-size: 16px;
  padding: 3px 14px;
  border: 1px solid #ffffff1e;
  border-radius: 48px;
  color: white;
  background-color: #030126;
}



.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-35%);
  background-color: inherit;
}

.filters {
  display: flex;
  align-items: center;
  font-size: 24px;
  background-color: inherit;
}

.filters__button {
  background-color: inherit;
}

/* ----------------------- */

.content {
  
}

.presents-section {
  display: grid;
  grid-template-columns: repeat(2, 128px);
  column-gap: 57px;
  row-gap: 30px;
  margin: 60px 50px 0;
  padding: 80px 0;
}

.present {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid #ffffff5e;
  border-radius: 8px;
  background-color: #FFFFFF26;
  z-index: -1;
}

.present__img {
  max-width: 128px;
  border-radius: 14px;
}

.present__favourite {
  background-color: inherit;
}

.present__favourite svg {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 24px;
  height: 24px;
  fill: none;
  background-color: none;
}

.present__price {
  font-size: 12px;
  line-height: 2;
  margin-left: 11px;
}

.footer {
  position: fixed;
  bottom: 0;
  z-index: 10;
  width: 100%;
  padding: 10px 10px;
  border-radius: 50px;
  background-color: #020025;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
}

.footer__nav img {
  width: 40px;
}

.nav-tab {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-55%, -70%);
  padding: 10px;
  border-radius: 50%;
  background-color: #050144;
}

.nav-tab img {
  width: 50px;
}

.active-section__img {
  display: none;
}

.menu__basket {
  background-color: inherit;
}

.menu__basket img {
  width: 60px;
}